footer {
    background-color: var(--color-primary-2);
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-1);;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}
.social-media-buttons a {
    font-size: inherit; /* Mantém o mesmo tamanho de fonte */
    text-decoration: none;
    color: #1d1d1d; /* Cor preta padrão */
    font-weight: 600; /* Mesmo peso da fonte dos links do menu */
    padding: 10px 15px; /* Mesmo espaçamento interno */
    transition: color 0.3s ease-in-out;
}

.social-media-buttons a:hover {
    color: yellow !important; /* Mesmo efeito de hover do menu */
}
